

.box-titulo{
width: 100%;
height: 60px;
margin-bottom: 10px;
background: linear-gradient(198.23deg, #F66EB4 0%, #FEB665 100%);
border-radius: 2px;
display: flex;
justify-content: center;
align-items: center;
}


.titulo-form{
    font-family: "Actor", sans-serif;
    color: #ffffff;
   
}

.btn-sucess{
    display: flex;
    justify-content: center;

}

.btn-sucess button{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.volver{
    text-align: center;
    color: #666666;
}

.back-comentarios{
background: linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%);
}

.back-logo{
    background: #ffffff;
    padding-bottom: 10px;
}