.header{
    position: fixed;
    z-index: 1000;   
    width: 100%;

    background-color: #ffffff;
   
   
   }

 .logo-header{
     display:flex;
     justify-content: center;
     padding-top: 10px;
   
 } 

 .contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
 
 .logo{
    width: 230px;
    height: 60px;
 }

 .nav-tabs a {
    color: #666;
    text-decoration: none;
    
}
