.addWork{
 margin-top:150px; 
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;  
}

.content-add-uno{
    width: 50%;
 
}
.content-add-uno img{
    width: 100%;
    padding: 5%;
 
}

.content-add-dos{
    width: 50%;
}

.content-add-dos img{
    width: 100%;
    padding: 5%;
 

}

.autor-class{
    display:flex;
    justify-content: space-between;
}

.pin{
    width: 30px;
}