@import url('https://fonts.googleapis.com/css?family=Actor&display=swap');

body {
  margin: 0;
  font-family:'Actor', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

  font-family: 'Actor', sans-serif;
}
